@model Stories.Models.StoriesTable

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-column w-100 align-items-center">
    <h3>Read Story</h3>
</div>

<div class="w-100 container-fluid d-flex flex-column align-items-center gap-4 bg-light p-4">

    <h3>@Model.StoryTitle</h3>
    @foreach (var paragraph in Model.ParagraphsTable)
    {
        <p>@paragraph.ParagraphText</p>
    }


</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.StoryId">Add to Story</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model?.StoryId">Delete</a>
</div>
