@model Stories.Models.StoriesTable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StoriesTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoryId" />
            <div class="form-group">
                <label asp-for="StoryTitle" class="control-label"></label>
                <input asp-for="StoryTitle" class="form-control" />
                <span asp-validation-for="StoryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryBody" class="control-label"></label>
                <input asp-for="StoryBody" class="form-control" />
                <span asp-validation-for="StoryBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryCreatedAt" class="control-label"></label>
                <input asp-for="StoryCreatedAt" class="form-control" />
                <span asp-validation-for="StoryCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryUpdatedAt" class="control-label"></label>
                <input asp-for="StoryUpdatedAt" class="form-control" />
                <span asp-validation-for="StoryUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
