@model Stories.ViewModels.AddToStoryViewModel

@{
    ViewData["Title"] = "Add to Story";
}

<div class="d-flex flex-column w-100 align-items-center">
    <h3>Add to Story</h3>
</div>
<p>@Model.StoryWithParagraphs</p>

@*@foreach(var para in Model.StoryWithParagraphs)
{
    <p>@para</p>
}*@


@*<p>@Model.MyStr</p>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
