@model Stories.ViewModels.AddToStoryViewModel

@{
    ViewData["Title"] = "Add to Story";
}

<div class="d-flex flex-column w-100 align-items-center">
    <h3>Add to Story</h3>
</div>

<p>@Model.MyStr</p>

@*@foreach(blaa in Model.StoryWithAllParagraphs)
{
    <p>@blaa</p>
}*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
